/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --font-titoli: 'Edu Tas Beginner', sans-serif;
    --font-date: 'Sometype Mono', monospace;
}

/* backgrounds */
.header { 
    background-image: url(../img/wall.png); 
}

.main { 
    background-image: url(../img/cork.png); 
    min-height: 100vh;
}

.header, .main { 
    background-size: contain; 
}

/*header title*/
h1 { 
    font-family: var(--font-titoli);
    font-size: 5rem; 
}

/*Cards styling*/
.card { 
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(53, 53, 53, 0.726); 
    transition: 0.25s;
    transition-timing-function: linear;
}

/*Cards image*/
img[src~="./img/pin.svg"] { 
    top: -0.8rem; 
    transition: 0.2s;
    transition-timing-function: linear;
}

figure > .img-fluid { 
    aspect-ratio: 1 / 1; 
    cursor: pointer;
}

/*Cards fonts*/
.card-body > h2, h1 { 
    font-family: var(--font-titoli); 
}

.card-body > p { 
    font-family: var(--font-date); 
}

/* Overlay */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.575);
  z-index: 2;
}

#overlay img, button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#overlay button {
    cursor: pointer;
}

/*Hover Cards*/
.card:hover {
    z-index: 1;
    position: absolute;
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(53, 53, 53, 0.726); 
    rotate: 10deg;
    zoom: 120%;

    img[src~="./img/pin.svg"] {
        opacity: 0;
    }
}