.header {
    background-image: url(../img/wall.png);
}

.main {
    background-image: url(../img/cork.png);
}

img[src~="./img/pin.svg"] {
    top: -0.8rem;
}

.card-image {
    aspect-ratio: 1 / 1;
}